p{
  font-family: Arial;
  margin:0;
}

.profile{
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  vertical-align: top;
}

.profile-picture{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name{
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;
}

.mutual-friends-picture{
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  margin-left: 8px;
  vertical-align: middle;
}

.mutual-friends{
  color: rgb(100, 100, 100);
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
}

.add-friend-button{
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.mutual-friends-row{
  margin-bottom: 10px;
}

.grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}