.flexbox{
  display: flex;
  flex-direction: row;
}

.blue{
  background-color: lightblue;
  width: 50px;
}

.pink{
  background-color: lightpink;
  flex: 1;
}

.small-blue{
  background-color: lightblue;
  width: 75px;
}