.container{
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  border-radius: 7px;
  width: 288px;
  padding-left: 12px;
}

div{
  font-family: Arial;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
  align-items: center;
}

.notifications{
  background-color: rgb(49, 109, 245);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
}