img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 5px;
  vertical-align: middle;
}

div{
  background-color: lightblue;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

input{
  border: none;
  font-size: 18px;
  width: 300px;
  vertical-align: middle;
}

button{
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
}