div{
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  right: 15px;
  top: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}