.flexbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px; 
}

img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 45px;
}

.text{
  margin-left: 15px;
  font-family: Arial;
  width: 200px;
}

.oliver{
  font-weight: bold;
  margin-bottom: 3px;
}

.popular, .cat{
  color: rgb(150, 150, 150);
}

.cat{
  margin-bottom: 5px;
}

p{
  margin: 0;
}

button{
  background-color:rgb(29, 155, 240);
  color: white;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.popular{
  font-size: 14px;
}