div{
  font-family: Arial;
}

.all-inboxes-text{
  color: rgb(120, 120, 120);
  font-size: 14px;
}

.rest-of-design{
  background-color: lightpink;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.chewy{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}

.sales{
  font-weight: bold;
  margin-bottom: 5px;
}

.hey{
  color: rgb(120, 120, 120);
}

.container{
  width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 20px;
}