.apply-button{
  background-color: rgb(10, 102, 194);
  color: white;
  font-weight: bold;
  height: 40px;
  width: 220px;
  border-radius: 20px;
  border:none;
  margin-right: 10px;
  cursor:pointer;
}

.save-button{
  background-color: white;
  height: 40px;
  width: 80px;
  color:rgb(10, 102, 194);
  font-weight: bold;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  cursor: pointer;
}