p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(100, 100, 100);
}

input{
  width: 393px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  color: rgb(100, 100, 100);
}

button{
  color: white;
  background-color: rgb(10, 102, 194);
  border: none;
  padding-left: 143px;
  padding-right: 143px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 20px;
}