.name-bar{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 129px;
  border-width: 1px;
  border-style:solid;
  border-radius: 8px;
  border-color: rgb(200, 200, 200);
  font-size: 16px;
}

.email-bar{
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 281px;
  border-width: 1px;
  border-style:solid;
  border-radius: 8px;
  border-color: rgb(200, 200, 200);
  font-size: 16px;
  margin-top: 12px;
}

button{
  margin-top: 12px;
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 116px;
  padding-right: 116px;
  font-size: 18px;
  font-weight: bold;
}