.install{
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 19px;
  margin-bottom: 0;
}

div{
  background-color: rgb(33, 33, 33);
  padding-top: 1px;
  padding-bottom: 4px;
  width: 375px;
  padding-left: 15px;
}

p{
  font-family: Arial;
}

.add{
  color: rgb(160, 160, 160);
  margin-top: 10px;
}