.container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

img{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

p{
  margin: 0;
  font-family: Arial;
}

.text-div{
  margin-left: 15px;
  width: 200px;
}

.oliver{
  font-weight: bold;
  margin-bottom: 3px;
}

.cat{
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
}

.popular{
  font-size: 14px;
  color: rgb(150, 150, 150);
}

button{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.flexbox{
}